button {
    border: none;
    margin: 2px;
    background: rgb(176, 218, 231);
    height: 30px;
    width: 30px;
}

.chosen {
    background: rgb(203, 213, 216);
}

.tagged {
    background: rgb(255, 159, 159);
}

.blown {
    background-color: red;
    color: white;
    font-weight: bold;
}