// button {
//     border: none;
//     border-radius: 50%;
//     margin: 2px;
//     background: rgb(176, 218, 231);
//     height: 100%;
// }

.chosen {
    .bubble {
        background: hsla(183.4, 63.6%, 89.2%, 0.7);
    }
    .bubble::after {
        background: none;
    }
    .bubble, .bubble::after, .bubble::before {
        box-shadow: none;
        transform-style: unset;
        // background: none;
    }
}
